.layout {
  padding: 1em;
}

.flex-layout-container {
  display: flex;
}

.flex-container {
  border: 1px solid cyan;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  justify-content: space-evenly;
}

.flex-item {
  flex: 0 0 25%;
  min-width: 420px;
  min-height: 320px;
  border-radius: 1em;
}

.flex-item:nth-child(1) {
  border: 1px solid red;
}
.flex-item:nth-child(2) {
  border: 1px solid green;
}
.flex-item:nth-child(3) {
  border: 1px solid yellow;
}
.flex-item:nth-child(4) {
  border: 1px solid purple;
}
.flex-item:nth-child(5) {
  border: 1px solid blue;
}
.flex-item:nth-child(6) {
  border: 1px solid white;
}
